header{
    background-color:  #282E3A;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#logo{
    width: 188px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 16px;
    margin-left: auto;
    flex-shrink: 0;
}
div#logo>p{
    color: #ECECEC;
}
#header_menu{
    display: flex;
    flex-direction: row;
    max-width: 924px;
    margin-right: auto;
    flex-grow: 1;
}
#header_menu1{
    display: flex;
    flex-direction: row;
}
header a{
    margin: 16px;
}
#header_menu1>nav#active_a{
    background:  #ECECEC;
}
#header_menu1>nav{
    padding-top: 16px;
    padding-bottom: 16px;
}
#header_menu2{
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
}