@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
    color:  #96A1AB;
    box-sizing: border;
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    background-color:  #ECECEC;
    display: flex;
    flex-direction: column;
    height: 100%;
}
main{
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
}
a{
    text-decoration: none;
}
h1{
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 16px;
}
/*
#wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 auto;
}
*/