#menu{
    min-width: 188px;
    margin-right: 16px;
}
#menu nav{
    padding: 8px 16px;
    border-radius: 4px;
}
#menu nav#active{
    background-color: #282E3A;
}
#menu nav#active a{
    color:  #ECECEC;
}
